body {
    background-color: #b3b3cc;
}

.alignTextToCenter {
    text-align: center;
}

.underlineText {
    text-decoration: underline;
}

.fontSizeLarge {
    font-size: large;
}

.fontSizeLarger {
    font-size: larger;
}
.imageResizer {
    width: 700px;
    height: 350px;
    position: relative;
    left: 500px;
}