body {
    background-color: #b3b3cc;
}

.alignTextToCenter {
    text-align: center;
}

.underlineText {
    text-decoration: underline;
}

.makeTextLarge {
    font-size: large;
}

.makeTextLarger {
    font-size: larger;
}
